*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background: linear-gradient(
        135deg,
        #0f428f,
        #0a192f,
        #112240
    );

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    color: #64ff73;
    margin-bottom: 25px;
    letter-spacing: 8px;
    font-size: 3rem;
    text-shadow: 0 0 10px rgba(100,255,218,0.5);
}

.calculator{
    width: 350px;

    background: rgba(17,34,64,0.95);

    padding: 20px;
    border-radius: 25px;

    box-shadow:
        0 10px 30px rgba(0,0,0,0.5),
        0 0 20px rgba(100,255,218,0.1);

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 12px;
}

#display{
    grid-column: span 4;

    height: 80px;

    background: #020c1b;
    color: #64ff73;

    border: none;
    outline: none;

    border-radius: 15px;

    text-align: right;
    padding-right: 20px;

    font-size: 2rem;
    font-weight: bold;

    box-shadow: inset 0 0 15px rgba(100,255,218,0.08);
}

button{
    height: 65px;

    border: none;
    border-radius: 15px;

    background: #233554;
    color: white;

    font-size: 1.3rem;
    font-weight: bold;

    cursor: pointer;

    transition: all 0.25s ease;
}

button:hover{
    background: #2f4b75;

    transform: translateY(-3px);

    box-shadow:
        0 0 12px rgba(100,255,218,0.4);
}

.operator{
    background: #64ff73;
    color: #020c1b;
}

.operator:hover{
    background: #0fbd24;

    box-shadow:
        0 0 18px rgba(100,255,218,0.7);
}

.equals{
    background: #64ff73;
    color: white;
}

.equals:hover{
    box-shadow:
        0 0 20px rgba(19, 145, 3, 0.8);
}
.zero{
    grid-column: span 2;
}
.calculator{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}